# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# os files
.DS_Store

# dependency directories
# build and set-up files
node_modules
dist

# testing
cypress/downloads/

# Editor directories and files
.vscode/*

# optional npm cache directory
.npm

# optional eslint cache
.eslintcache

# dotenv environment variable files
.env
.env.test
*.local
