@mixin user-select($value) {
	-webkit-touch-callout: $value; /* iOS Safari */
	-webkit-user-select: $value; /* Safari */
	-moz-user-select: $value; /* Old versions of Firefox */
	-ms-user-select: $value; /* Internet Explorer/Edge */
	user-select: $value; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
