$checkbox-size: 20px;
$checkbox-border: #cecece;
$checkbox-selected: #3a0061;

$form-field-border: #ccc;
$form-field-invalid: #ff0000;

$form-field-background-color-focus: #f0e6fd;
$form-field-border-focus: #3d008d;
