* {
	// TODO: uncomment and resolve margin/padding changes page/component by page/component
	// margin: 0;
	// padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Roboto', sans-serif;
	body {
		margin: 0;
		#app {
			height: 100vh;
			section {
				min-width: 280px;
			}
			li {
				list-style: none;
			}

			a {
				text-decoration: none;
			}
		}
	}
}
