@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	font-style: normal;
	font-display: auto;
	unicode-range: U+000-5FF;
	src:
		local('Roboto'),
		url('@/assets/fonts/Roboto-Regular.ttf') format('font-type');
}
