$checkbox-size-20px: 20px;

/*
	Color naming convention taken from
	'Name that Color' color wheel by
	Chirag Mehta
	https://chir.ag/projects/name-that-color/#6195ED
*/
$color-alto: #cecece;
$color-black: #000000;
$color-blue-chalk: #edd2ff;
$color-el-salva: #933933;
$color-fresh-eggplant: #8d007a;
$color-japanese-laurel: #088a00;
$color-lavender-magenta: #f391e3;
$color-magnolia: #faf6ff;
$color-mantis: #66c360;
$color-mine-shaft: #333333;
$color-pigment-indigo: #3d008d;
$color-purple: #71008d;
$color-red: #ff0000;
$color-mojo: #c03f3f;
$color-ripe-eggplant: #640c9f;
$color-ripe-plum: #3a0061;
$color-selago: #f0e6fd;
$color-silver: #cccccc;
$color-tundora: #424242;
$color-white: #ffffff;
